# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
*.whl

# PyInstaller
# 生成的打包文件通常在 `output` 文件夹中
output/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff
instance/
.webassets-cache

# Scrapy stuff
.scrapy

# Sphinx documentation
docs/_build/

# PyCharm
.idea/

# VS Code
.vscode/
*.code-workspace

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# JupyterLab
.lab/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# General ignore files
*.swp
*.swo
*.bak
*.tmp

# Python env files
.env
.env.*

# Logs and debugging
*.log
*.debug
debug.log

# Temporary files
*.temp
*.tmp
*.~undo-tree

# Special
mds/
others/